<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="form-box centro">            
            <h2>Tareas</h2>
            <div class="row">
                <div class="col-md-12 filtros">
                    <div class="row">
                        <div class="col-md-12">
                            <form class="form-inline" (submit)="filter(1, $event)" #searchTaskForm="ngForm">
                                <div class="input-group" style="float: left">
                                    <input type="text" placeholder="Búsqueda de Tareas" name="search" [(ngModel)]="params.s" class="form-control" />                       
                                </div>
                                <button type="submit" class="btn btn-menu">
                                    <i class="icon-search">icon-search</i><div class="ripple-container"></div>
                                </button>
                                <button type="submit" class="btn btn-menu">
                                    <i class="icon-arrows-cw">icon-arrows-cw</i><div class="ripple-container"></div>
                                </button>
                                <button type="button" class="btn btn-menu" (click)="resetFilter()">
                                    <i class="icon-cancel-circled">icon-cancel-circled</i><div class="ripple-container"></div>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-12 table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Nombre</th>
                                <th>Version</th>
                                <th>Ultima Modificacion</th>
                                <th>Estado</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="item-component-html">
                            <tr *ngFor='let process of processes'>
                                <td>{{process.id}}</td>
                                <td>{{process.displayName}}</td>
                                <td>{{process.version}}</td>
                                <td>{{process.last_update_date}}</td>
                                <td>{{process.activationState}}</td>
                                <td class="td-actions text-right">
                                    <button *ngIf="process.activationState == 'ENABLED'" type="button" title="Iniciar Caso" class="btn btn-secundario btn-xs" (click)="startCase(process)">Iniciar Caso</button>
                                </td>
                            </tr>                                
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>