<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="form-box centro">            
            <h2>Casos Activos</h2>
            <div class="row">
                <div class="col-md-12 filtros">
                    <div class="row">
                        <div class="col-md-12">
                            <form class="form-inline" (submit)="filter(1, $event)" #searchCaseForm="ngForm">
                                <div class="input-group" style="float: left">
                                    <input type="text" placeholder="Búsqueda de Casos" name="search" [(ngModel)]="params.s" class="form-control" />                       
                                </div>
                                <button type="submit" class="btn btn-menu">
                                    <i class="icon-search"></i><div class="ripple-container"></div>
                                </button>
                                <button type="submit" class="btn btn-menu">
                                    <i class="icon-arrows-cw"></i><div class="ripple-container"></div>
                                </button>
                                <button type="button" class="btn btn-menu" (click)="resetFilter()">
                                    <i class="icon-cancel-circled"></i><div class="ripple-container"></div>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-12 table-responsive">
                    <table class="table table-striped tabla">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Nombre</th>
                                <th>Iniciado</th>
                                <th>Iniciado Por</th>
                            </tr>
                        </thead>
                        <tbody id="item-component-html">
                            <tr *ngFor='let case of cases'>
                                <td>{{case.id}}</td>
                                <td>{{case.processDefinitionId.displayName}}</td>
                                <td>{{case.start}}</td>
                                <td>{{case.started_by}}</td>
                            </tr>                                
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>