
@font-face {
    font-family: 'MontserratSemiBold';
    src: url('../fonts/Montserrat-SemiBold.otf');
}

@font-face {
    font-family: 'MontserratLight';
    src: url('../fonts/Montserrat-Light.otf');
}
@font-face {
    font-family: 'GeorgiaRegular';
    src: url('../fonts/georgiaregularfont.ttf');
}

body{
    background-color: #EEEEDD;
/*    font-family: 'Georgia, Regular';*/
    font-family: GeorgiaRegular;
}

/* 
    HEADER
*/
.header{
	background-color: #59AB7A;
	color: #FFFFFF;
	padding-top: 1em;
}
.header h1{
	font-size: 24px;
	margin-bottom: 0;
}
.header p{
    font-size: 14px;
}

.menu{
	background-color: #66C78A;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.nav-item a{
    color: white !important;
    font-weight: bold;
    /*font-family: arial;*/
    font-size: 12px;
}

.nav-link {
    display: block;
    padding: .5rem 1rem;
}
.navbar{
	background-color: #66C78A;
}
.nav-item{
	text-transform: uppercase;
}
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 2rem;
    padding-left: 2rem;
}

.first {
	padding-left: 0 !important;
}

.centro{
	padding-left:  5em;
	padding-right: 5em;
}
.col-izq{
	padding: 0 2em;
}
.menu{
	font-family: Montserrat, SemiBold;
}

/*
    FORMS
*/
.form-box{
	background-color: #FFFFFF;
	/*margin-top: 10%;*/
        margin-top: 0.5%;
	height: auto;
	width: 100%;
	border-top: 5px solid #66C78A;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	padding-top: 5em;
	padding-bottom: 5em;
        /*margin-bottom: 6em;*/
        margin-bottom: 2em;
}
.form-box h2{
	color: #66C78A;
	font-size: 24px;
	margin-bottom: 1.5em;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #C8C8C8;
    opacity: 1; /* Firefox */
}

.col-form-label{
    color: #66C78A;
    font-size: 12px;
    font-family: MontserratLight;
}

.form-control{
    border:  1px solid #C8C8C8;
    /*color: #C8C8C8;*/
    font-size: 12px;
    font-family: MontserratLight;
}

.linea{
    margin-top: 4em;
    margin-bottom: 4em;
    border-top: 1px solid rgba(0,0,0,.2);
}

.icon-toogle{
    
    color: #66C78A;
}
.btn-toogle{
    background-color: transparent;
    border:none;
}
/*
    BOTONES
*/
.boton-crear{
	border:none;
	float: right;
	background-color: #66C78A;
	color: white;
	font-weight: bold;
        margin: 0 0px 0 10px;
        font-size: 12px;
        text-transform: uppercase;
        font-family: MontserratSemiBold;
        padding: 10px 40px;
}
.btn-secundario{
	border:none;
	background-color: #c1bdbd;
	color: white;
        font-size: 12px;
        text-transform: uppercase;
        font-family: MontserratSemiBold;
        padding: 10px 40px;
}
.botonera{
    margin-bottom: 0px;
    margin-top: 3%;
    
}
.list-inline-item:not(:last-child) {
    margin-right: 2rem;
}
.list-inline-item {
    font-family: MontserratSemiBold;
    font-size: 12px;
}

.btn-menu{
    background-color: transparent;
    border: none;
    color: #66C78A;
    text-transform: uppercase;
    padding: 0px;
}

/*
    TAMANOS
*/
@media (max-width: 990px) {
  .centro {
    padding-left:  1em;
    padding-right: 1em;
  }
  .col-izq{
    padding-left:  1em;
    padding-right: 1em;
  }
}

/*
    IFRAME TASK
*/

.modal-vertical-dialog{
    height: 90vh;
    margin-top: 5vh;
    margin-bottom: 5vh;
}
.modal-vertical-content{
    height: 100%;
}
.modal-vertical-body{
    height: 100%;
}
.vertical-frame {
    height: 95%;
}

@media (min-width: 992px){
    .modal-lg {
        max-width: none;
        width: 90%;
        margin-left: 5%;
        margin-right: 5%
    }
}