
.icon-inbox:before { content: '\e800'; } /* '' */
.icon-down-circle:before { content: '\e801'; } /* '' */
.icon-up-circle:before { content: '\e802'; } /* '' */
.icon-doc-text:before { content: '\f0f6'; } /* '' */
.icon-history:before { content: '\f1da'; } /* '' */
.icon-binoculars:before { content: '\f1e5'; } /* '' */