<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="form-box centro">            
            <h2>Tramites</h2>
            <div class="row">
                <div class="col-md-12 filtros">
                    <div class="row">
                        <form class="form-inline" (submit)="filter(1, $event)" #searchCaseForm="ngForm">
                            <div class="col-md-12">                            
                                <div class="input-group" style="float: left">
                                    <input type="text" placeholder="Matricula" name="search" [(ngModel)]="params.t_matricula" class="form-control" />                       
                                </div>
                                <div class="input-group" style="float: left">
                                    <input type="text" placeholder="CUIL" name="search" [(ngModel)]="params.t_cuil" class="form-control" />                       
                                </div>
                                <button type="submit" class="btn btn-menu">
                                    <i class="icon-search"></i><div class="ripple-container"></div>
                                </button>
                                <button type="button" class="btn btn-menu" (click)="resetFilter()">
                                    <i class="icon-cancel-circled"></i><div class="ripple-container"></div>
                                </button>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group ordenar">
                                    <select style="width:100%" name="s_tipo_prestamo" id="s_tipo_prestamo"  class="form-control col-md-12" [(ngModel)]="params.s_tipo_prestamo" (change)="filter(1)" >                                
                                        <option [ngValue]="null">Sin filtrar tipo</option>
                                        <option *ngFor="let tipo of tiposPrestamo" [value]="tipo.key">{{tipo.value}}</option>
                                    </select>
                                </div>
                            </div>
                            
                            <div class="col-md-4">
                                <div class="form-group ordenar">
                                    <select style="width:100%" name="tm_grupo" id="tm_grupo"  class="form-control col-md-12" [(ngModel)]="params.tm_grupo" (change)="filter(1)" >                                
                                        <option [ngValue]="null">Sin filtrar Oficina</option>
                                        <option *ngFor="let grupo of grupos" [value]="grupo.grupo">{{grupo.descripcion}}</option>
                                    </select>
                                </div>
                            </div>
                            
                            <div class="col-md-4">
                                <div class="form-group ordenar">
                                    <select style="width:100%" name="tm_cod_actividad" id="tm_cod_actividad"  class="form-control col-md-12" [(ngModel)]="params.tm_cod_actividad" (change)="filter(1)" >                                
                                        <option [ngValue]="null">Sin filtrar Actividad</option>
                                        <option *ngFor="let actividad of actividades" [value]="actividad.cod_actividad">{{actividad.descripcion}}</option>
                                    </select>
                                </div>
                            </div>
                            
                            <div class="col-md-4">
                                <div class="form-group ordenar">
                                    <select style="width:100%" name="t_estado" id="t_estado"  class="form-control col-md-12" [(ngModel)]="params.t_estado" (change)="filter(1)" >                                
                                        <option [ngValue]="null">Sin filtrar estado</option>
                                        <option value="!18">En Curso</option>
                                        <option value="18">Finalizado</option>
                                    </select>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                
                <div class="col-md-12 table-responsive">
                    <table class="table table-striped tabla">
                        <thead>
                            <tr>
                                <th>Matricula</th>
                                <th>CUIL</th>
                                <th>Fecha Ingreso</th>
                                <th>Expediente</th>
                                <th>Tipo de Prestamo</th>
                                <th>Oficina</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="item-component-html">
                            <tr *ngFor='let dato of datos'>
                                <td>{{dato.matricula}}</td>
                                <td>{{dato.cuil}}</td>
                                <td>{{dato.fecha_ingreso | date: 'dd/MM/yyyy hh:mm:ss'}}</td>
                                <td>{{dato.nro_expediente}}</td>
                                <td>{{getTipoPrestamo(dato.tipo_prestamo)}}</td>
                                <td>{{dato.oficina}}</td>
                                <td class="td-actions text-right">
                                    <button type="button" title="Ver Solicitud" class="btn btn-sm tabla-accion" (click)="verSolicitud(dato)">Ver</button>
                                    <button type="button" title="Documentacion" class="btn btn-sm tabla-accion" (click)="documentacion(dato)">Documentacion</button>
                                    <button type="button" title="Historial" class="btn btn-sm tabla-accion" (click)="historial(dato)">Historial</button>  
                                </td>
                            </tr>                                
                        </tbody>
                    </table>
                    <pager [info]="info" [actualPage]="params.pagina" (filter)="filter($event)"></pager>
                </div>                
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>