<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="form-box centro">            
            <h2>Tareas</h2>
            <div class="row">
                <div class="col-md-12 filtros">
                    <div class="row">
                        <div class="col-md-12">
                            <form class="form-inline" (submit)="filter(1, $event)" #searchTaskForm="ngForm">
                                <div class="input-group" style="float: left">
                                    <input type="text" placeholder="Búsqueda de Tareas" name="search" [(ngModel)]="params.s" class="form-control" />                       
                                </div>
                                <button type="submit" class="btn btn-menu">
                                    <i class="icon-search"></i><div class="ripple-container"></div>
                                </button>
                                <button type="submit" class="btn btn-menu">
                                    <i class="icon-arrows-cw"></i><div class="ripple-container"></div>
                                </button>
                                <button type="button" class="btn btn-menu" (click)="resetFilter()">
                                    <i class="icon-cancel-circled"></i><div class="ripple-container"></div>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-12 table-responsive">
                    <table class="table table-striped tabla">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Nombre</th>
                                <th>Prioridad</th>
                                <th>Vencimiento</th>
                                <th>Asignada</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="item-component-html">
                            <tr *ngFor='let task of tasks'>
                                <td>{{task.id}}</td>
                                <td>{{task.displayName}}</td>
                                <td>{{task.priority}}</td>
                                <td>
                                    <span *ngIf="task.dueDate">{{task.dueDate}}</span>
                                    <span *ngIf="task.dueDate">-</span>
                                </td>
                                <td>
                                    <span *ngIf="task.assigned_id">SI</span>
                                    <span *ngIf="!task.assigned_id">NO</span>
                                </td>
                                <td class="td-actions text-right">
                                    <button *ngIf="!task.assigned_id" type="button" title="Asignar" class="btn btn-sm tabla-accion" (click)="assign(task)">Asignar</button>
                                    <button *ngIf="task.assigned_id" type="button" title="Liberar" class="btn btn-sm tabla-accion" (click)="unassign(task)">Liberar</button>
                                    <button *ngIf="task.assigned_id" type="button" title="Hacer" class="btn btn-sm tabla-accion" (click)="doTask(task)">Hacer</button>
                                </td>
                            </tr>                                
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>